<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">

<include file="common/header"/>
<body>
<div id="body-wrapper">

  <include file="common/menu"/>
  <!-- End #sidebar -->
  <div id="main-content">

    <!-- Page Head -->
    <h2>修改院系信息</h2>
    <div class="content-box">

      <form action="{:U('Admin/Depart/update',array('id'=>$info['id']))}" method="post">
        <table>
          <tr>
            <td>院系</td>
            <td><input class="text-input" name="name" type="text" value="{$info['name']}"/></td>
          </tr>

          <tr>
            <td>备注</td>
            <td><input class="text-input" name="class" type="text" value="{$info['remark']}"/></td>
          </tr>
          <tr>
            <td cols="4"></td>
            <td><input class="button" name="update" type="submit" value="修改"/></td>
          </tr>
        </table>
      </form>
    </div>


    <include file="common/footer"/>
  </div>
  <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
