<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">

<include file="common/header"/>
<body>
<div id="body-wrapper">
  <include file="common/menu"/>
  <div id="main-content">
    <h2>欢迎来访网院专科实践小组作品</h2>
    <div style="text-align: center;background: #fff;">
      <p><img src="__PUBLIC__/images/icons/huazhongkeji.png"></p>
      <p><img src="/resources/images/login-wel.gif" width="320"></p>
    </div>


    <include file="common/footer"/>
    <!-- End #footer -->
  </div>
  <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
