<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">

<include file="common/header"/>
<body>
<div id="body-wrapper">

  <include file="common/menu"/>
  <!-- End #sidebar -->
  <div id="main-content">

    <!-- Page Head -->
    <h2>添加用户</h2>
    <div class="content-box">

      <form action="{:U('Admin/User/add')}" method="post">
        <table>
          <tr>
            <td>姓名</td>
            <td><input class="text-input" name="username" type="text"/></td>
          </tr>
          <tr>
            <td>密码</td>
            <td><input class="text-input" name="password" readonly type="text" value="123456"/></td>
          </tr>
          <tr>
            <td>角色</td>
            <td><input class="text-input" name="role" type="text"/></td>
          </tr>
          <tr>
            <td>班级</td>
            <td><input class="text-input" name="class" type="text"/></td>
          </tr>
          <tr>
            <td>年级</td>
            <td><input class="text-input" name="grade" type="text"/></td>
          </tr>
          <tr>
            <td cols="5"></td>
            <td><input class="button" name="add" type="submit" value="添加"/></td>
          </tr>
        </table>
      </form>
    </div>


    <include file="common/footer"/>
  </div>
  <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
